@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

body {
    font-family: 'Roboto', sans-serif;
}

@include media-breakpoint-up(sm) {
    
}
@include media-breakpoint-up(lg) {
    
}
@include media-breakpoint-up(xl) {
    
}