<template>
    <article :class="className" class="labels">
        <b-badge :variant="labelVariant" v-for="(k, index) in data" :key="index">{{ k }}</b-badge>
    </article>
</template>
<script>
export default {
    name: 'Labels',
    props:{
        data: {
            type: Array,
            default: () => []
        },
        className: {
            type: String,
            default: () => ''
        },
        labelVariant: {
            type: String,
            default: () => ''
        },
    },
}
</script>
<style lang="scss" scoped>
.labels {
    ::v-deep {
        .badge {
            margin-right: 5px;
        }
    }
}
</style>