<template>
    <ul class="skills-level" :class="className">
        <li v-for="(k, index) in data" :key="index">
            <span class="score" :style="`width: ${getScore(k.score)}%`"></span>
            <span>{{ k.name }}</span>
        </li>
    </ul>
</template>
<script>
export default {
    name:'SkillsLevel',
    props:{
        data: {
            type: Array,
            default: () => []
        },
        className: {
            type: String,
            default: () => ''
        }
    },
    methods: {
        getScore(score){
            return (score / 5) * 100
        }
    }
}
</script>
<style lang="scss" scoped>

ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    position: relative;

    li {
        background-color:#e2efec;
        position: relative;
        margin: 5px 0;
        .score {
            width: 0%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #03CEA4;
            z-index: 1;
        }
        span:last-child {
            position: relative;
            display: block;
            z-index: 2;

            font-size: 13px;
            padding: 5px;
            text-align: left;
        }
    }
    &.variation-1 {
        .score {
            background-color: #345995;
        }
        .score + span {
            color: #ffffff;
        }
    }
}
</style>