<template>
    <ul class="timeline" :class="size">
        <li v-for="(skill, index) in data" :key="index" :title="skill.time">
            <article>
                <header>
                    <h3>{{ skill.name }}</h3>
                </header>
                <section>
                    <b v-if="keywords != ''">Keywords:</b> 
                    <i class="text-left">{{ getDescription(skill.description) }}</i> 
                </section>
            </article>
        </li>
      </ul>
</template>
<script>
export default {
    name: 'timeline',
    props:{
        data: {
            type: Array,
            default: () => []
        },
        size: {
            type: String,
            default:() => 'sm'
        }
    },
    data(){
        return {
            keywords: ''
        }
    },
    methods: {
        getDescription(desc) {
            if(typeof desc == 'object') {
                this.keywords = 'Keywords'
                return desc.join(', ')
            } else if(typeof desc == 'string'){
                return desc
            } else {
                return false
            }
        }
    }
}
</script>
<style lang="scss" scoped>
.timeline {
    position: relative;
    list-style: none;
    padding: 10px;
    margin: 0;
    text-align: center;

    &:before {
        content: "";
        display: block;
        clear: both;
        background-color: $red ;
        width: 3px;
        height: calc(100% - 50px);
        position: absolute;
        left: 50%;
        top: 40px;
    }

    li {
        display: block;
        width: 100%;
        position: relative;

        &:before {
            content: attr(title);
            border-radius: 0;
            color: $white;
            font-weight: bold;
            margin-top: 30px;
            background-color: $white;
            border-color: $red;
            border-style: solid;
            border-width: 1px;
            display: block;
            position: relative;
            font-size: 20px;
            color: $red;
            font-weight: 600;
            padding: 5px;
            border-bottom: 0;
        }

        &:first-child {
            &:before {
                margin-top: 0;
            }
        }

        article {
            border-top: 0;
            
            header, section {
                background:$light-grey;
                border: 1px solid $red;
                padding: 10px;
            }
            header {
                background-color: $yellow;
                border-top: 0;
                border-bottom: 0;

                h3 {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    margin: 0;
                }
            }
            section {
                border-top: 0;
                
                b {
                    text-transform: uppercase;
                    font-size: 12px;
                    padding-right: 5px;
                }

                i {
                    font-size: 14px;
                    line-height: 18px;
                }
                
            }
        }
    }

}
@media screen and (min-width: 768px) {
    .timeline {

        &:before {
            height: calc(100% - 115px);
            top: 60px;
        }

        li {
            
            width: 50%;
            margin-bottom: 0;

            &:before {
                background-color: $red;
                height: 25px;
                margin-top: 0;
                margin-bottom: 0;
                width: 50px;
                position: absolute;
                top: calc(50% - 10px);
                font-size: 14px;
                font-weight: 300;
                color: #ffffff;
                line-height: 1;
                padding: 0;
                border: 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &:after {
                content: " ";
                position: absolute;
                top: calc(50% - 10px);
                display: block;
                width: 0;
                height: 0;
                border-color: transparent;
                border-style: solid;
                border-width: 10px;
            }

            &:nth-child(2n+1) {
                padding-right: 10px;

                &:after {
                    right: 0;
                    border-right-width: 0;
                    border-left-color: $yellow;
                }
                
                &:before {
                    right: -50px;
                }
            }

            &:nth-child(2n+2) {
                padding-left: 10px;
                margin-left: calc(50% + 3px);

                &:after {
                    left: 0;
                    border-left-width: 0;
                    border-right-color: $yellow;
                }
                &:before {
                    left: -50px;
                }
            }

            article {
                
                header, section {
                    border:1px solid $yellow;
                }
                header {
                    border-bottom: 0;
                }
                section {
                    border-top: 0;
                    min-height: 75px;
                    display: flex;
                    align-items: center;
                }
            }
        } 

        &.lg {
            li {
                &:before {
                    width: 113px;
                }

                &:nth-child(2n+1) {
                    padding-right: 10px;

                    &:after {
                        right: 0;
                        border-right-width: 0;
                        border-left-color: $yellow;
                    }
                    
                    &:before {
                        right: -113px;
                    }
                }

                &:nth-child(2n+2) {
                    padding-left: 10px;
                    margin-left: calc(50% + 3px);

                    &:after {
                        left: 0;
                        border-left-width: 0;
                        border-right-color: $yellow;
                    }
                    &:before {
                        left: -113px;
                    }
                }
                
            }
        }
    }
}

</style>