<template>
  <b-container class="py-5">
    <b-row>
      <b-col cols="12" class="text-center">
        <h1 class="mb-3 mt-5">Viljar Salu <br/>Front-end developer / Engineer</h1>
        <p>A highly resourceful, innovative, and compentent front-end developer with extensive experience in the layout, design and coding of website.</p>
        <p><b>References:</b> email - viljarsalu[at]gmail.com</p>

        <h3 class="text-center text-md-left mb-3 mt-5">Key skills and competencies</h3>
        <SkillsLevel :data="getSkills" />
      </b-col>
      <b-col cols="12" md="6">
        <h3 class="text-center text-md-left mb-3 mt-5">I have knowledge of ...</h3>
        <Labels className="text-center text-md-left" labelVariant="primary" :data="getKnowledge" />

        <h3 class="text-center text-md-left mb-3 mt-5">My Best Friends</h3>
        <Labels className="text-center text-md-left" labelVariant="info" :data="getBestFriends" />
      </b-col>
      <b-col cols="12" md="6">
        <h3 class="text-center text-md-left mb-3 mt-5">My Friends</h3>
        <Labels className="text-center text-md-left" labelVariant="warning" :data="getFriends" />

        <h2 class="text-center text-md-left mb-3 mt-5">World is not perfect</h2>
        <Labels className="text-center text-md-left" labelVariant="dark" :data="getConfusingThings" />
      </b-col>
      <b-col cols="12">
        <h4 class="text-center mb-3 mt-5">Thank you for giving me the opportunity to prove my capabilities with your company.</h4>
        <CompaniesTimeline :data="getCompanies" />

        <h3 class="text-center mb-3 mt-5">He who laughs most, learns best. John Cleese</h3>
        <Timeline size="lg" :data="getEducation" />

        <h4 class="text-center mb-3 mt-5">Additional Information</h4>
        <h3 class="text-center text-md-left mb-3 mt-5">Language Skills</h3>
        <SkillsLevel className="variation-1" :data="getLanguageSkills" />

        <h3 class="text-center text-md-left mb-3 mt-5">Hobbies</h3>
        <Labels className="text-center text-md-left" labelVariant="warning" :data="hobbies" />

        <p class="text-center mt-5 mb-0"><b>Thank you for reading my CV</b></p>
        <p class="text-center my-0">Best regards</p>
        <p class="text-center my-0">Viljar :)</p> 
        <p class="my5"><a href="../cv.html">old CV</a></p>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { mapGetters, mapActions} from 'vuex'
export default {
  components: {
    Timeline: () => import('@/components/Timeline.vue'),
    CompaniesTimeline: () => import('@/components/CompaniesTimeline.vue'),
    SkillsLevel: () => import('@/components/SkillsLevel.vue'),
    Labels: () => import('@/components/Labels.vue')
  },

  data(){
    return {
      hobbies: [
        'Windsurfing', 'Movies', 'Reading' ,'Technology'
      ]
    }
  },
  async fetch(){
    await this.fetchSkills()
    await this.fetchEducation()
    await this.fetchCompanies()
    await this.fetchKnowledge()
    await this.fetchBestFriends()
    await this.fetchFriends()
    await this.fetchConfusingThings()
    await this.fetchLanguageKills()
  },
  computed: {
    ...mapGetters({
      getSkills: 'skills/getSkills',
      getCompanies: 'companies/getCompanies',
      getEducation: 'education/getEducation',
      getKnowledge: 'api/getKnowledge',
      getBestFriends: 'api/getBestFriends',
      getFriends: 'api/getFriends',
      getConfusingThings: 'api/getConfusingThings',
      getLanguageSkills: 'api/getLanguageSkills'
    })

  },
  methods: {
    ...mapActions({
      fetchSkills: 'skills/fetchSkills',
      fetchCompanies: 'companies/fetchCompanies',
      fetchEducation: 'education/fetchEducation',
      fetchKnowledge: 'api/fetchKnowledge',
      fetchBestFriends: 'api/fetchBestFriends',
      fetchFriends: 'api/fetchFriends',
      fetchConfusingThings: 'api/fetchConfusingThings',
      fetchLanguageKills: 'api/fetchLanguageKills'
    })
  }

}
</script>

<style lang="scss" scoped>
h1, h2, h3, h4 {
  color: #345995;
  font-weight: 400;
}
</style>
